<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <div id="user_nav">
            <% if current_user %>
                Logged in as <%= current_user.username %>.
                <%= link_to "Log out", log_out_path %>
            <% else %>
                <%= link_to "Sign up", sign_up_path %> or
                <%= link_to "log in", log_in_path %>
            <% end %>
        </div>

        <title>Movies</title>
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#myModal").modal('show');
            });
        </script>

        <!-- Template js -->

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    
    <body>
        
        <%= render :partial=>"/layouts/overlays" -%>
        <!-- Start Logo Section -->
        <section id="logo-section" class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                            <h1>Movies</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Logo Section -->
        <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
        <% end -%>
        <!-- Start Main Body Section -->
        <div class="mainbody-section text-center">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-3">
                        
                        <div class="menu-item blue">
                            <%= link_to 'Kannada', movies_kannada_path %>
                        </div>
                        
                        <div class="menu-item green">
                            <%= link_to 'Tamil', movies_tamil_path %>
                        </div>
                        
                        <div class="menu-item light-red">
                            <%= link_to 'Telagu', movies_telagu_path %>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-6">
                        
                        <!-- Start Carousel Section -->
                        <div class="home-slider">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="padding-bottom: 30px;">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="assets/about-03.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/about-02.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/about-01.jpg" class="img-responsive" alt="">
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- Start Carousel Section -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="menu-item color responsive">
                                    <%= link_to 'English', movies_english_path %>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="menu-item color responsive">
                                        <i class="fa fa-area-chart"></i>
                                    <%= link_to 'Add movie', new_movie_path, remote: true %>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        
                        <div class="menu-item light-red">
                            <%= link_to 'Hindi', movies_hindi_path %>
                        </div>
                        
                        <div class="menu-item color">
                            <%= link_to 'Malyalam', movies_malyalam_path %>
                        </div>
                        
                        <div class="menu-item blue">
                            <%= link_to 'Others', movies_others_path %>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Body Section -->
        
        <!-- Start Copyright Section -->
        <div class="copyright text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div>Developed <a href="https://www.facebook.com/akshaysimha" target="_blank">Akshay Simha</a> for <a href="http://qwinixtech.com">Qwinix</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Section -->
        
    </body>
    
</html>